# Example .env file, copy this to .env and fill in values
MONGODB_URI=<MongoDB connection string>
NEXTAUTH_SECRET=<Secret key for authentication>
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=<Google OAuth client ID>
GOOGLE_CLIENT_SECRET=<Google OAuth client secret>